services:
  - type: web
    name: baphomet-server
    env: node
    plan: free
    buildCommand: pnpm install && pnpm build
    startCommand: node dist/server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: ATLAS_DB_USERNAME
        sync: false
      - key: ATLAS_DB_PASSWORD
        sync: false
      - key: MD5_PASSWORD_HASH
        sync: false
      - key: TMDB_API_KEY
        sync: false
      - key: REFRESH_TOKEN_SECRET
        sync: false
      - key: ACCESS_TOKEN_SECRET
        sync: false
